In [26]:
with open('key.txt','r') as f:
    api_key = f.read().strip('\n')
    assert api_key.startswith('sk-'),'Error loading API key. API key shouls starts with sk'
openai.api_key = api_key

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [27]:
df = pd.read_csv('words.csv')
df.head()

      text
0      fox
1  opossum
2    black
3   purple
4   badger

In [11]:
import tiktoken

# enc = tiktoken.encoding_for_model("text-embedding-ada-002")
# text-embedding-3-small
enc = tiktoken.encoding_for_model("text-embedding-3-small")
total_tokens = len(enc.encode('above only the sky'))
print(f'Total tokens : {total_token}')

cost = total_tokens * (0.000020/1000)
print(f'Estimated cost in USD: {cost:.10f}')

Total tokens : 4
Estimated cost in USD: 0.0000000800

In [28]:
from openai.embeddings_utils import get_embedding

In [29]:
df['embedding']=df['text'].apply(lambda x : get_embedding(x, engine='text-embedding-3-small'))

In [30]:
df.head()

      text                                          embedding
0      fox  [-0.03348962217569351, 0.0015702263917773962, ...
1  opossum  [0.03196421265602112, 0.03251579403877258, -0....
2    black  [0.011166427284479141, -0.012104066088795662, ...
3   purple  [0.024738309904932976, -0.0347030945122242, -0...
4   badger  [0.021644549444317818, -0.022302215918898582, ...

In [31]:
df.to_csv('word-embeddings_up.csv',index=False)

In [20]:
df[df['text'].str.lower()=='fox']['embedding']

0    [-0.03355345129966736, 0.001505932305008173, -...
Name: embedding, dtype: object

### Storing locally

In [32]:
df = pd.read_csv('word-embeddings_up.csv')

In [33]:
df.head()

      text                                          embedding
0      fox  [-0.03348962217569351, 0.0015702263917773962, ...
1  opossum  [0.03196421265602112, 0.03251579403877258, -0....
2    black  [0.011166427284479141, -0.012104066088795662, ...
3   purple  [0.024738309904932976, -0.0347030945122242, -0...
4   badger  [0.021644549444317818, -0.022302215918898582, ...

In [34]:
df['embedding']=df['embedding'].apply(eval).apply(np.array)

In [35]:
df.head()

      text                                          embedding
0      fox  [-0.03348962217569351, 0.0015702263917773962, ...
1  opossum  [0.03196421265602112, 0.03251579403877258, -0....
2    black  [0.011166427284479141, -0.012104066088795662, ...
3   purple  [0.024738309904932976, -0.0347030945122242, -0...
4   badger  [0.021644549444317818, -0.022302215918898582, ...

In [37]:
search_term = 'cat'
search_term_vec = get_embedding(search_term,engine='text-embedding-3-small')
print(len(search_term_vec))

1536

In [39]:
from openai.embeddings_utils import cosine_similarity

df['simalarities'] = df['embedding'].apply(lambda x : cosine_similarity(x, search_term_vec))
df.head()

      text                                          embedding  simalarities
0      fox  [-0.03348962217569351, 0.0015702263917773962, ...      0.375534
1  opossum  [0.03196421265602112, 0.03251579403877258, -0....      0.282960
2    black  [0.011166427284479141, -0.012104066088795662, ...      0.311584
3   purple  [0.024738309904932976, -0.0347030945122242, -0...      0.340107
4   badger  [0.021644549444317818, -0.022302215918898582, ...      0.346123

In [40]:
df.sort_values("simalarities",ascending=False)

,text,embedding,simalarities
36,cat,"[0.025529420003294945, -0.023411665111780167, ...",1.000000
27,dog,"[0.05113774910569191, -0.01870863139629364, -0...",0.602502
14,hamster,"[0.03871235251426697, -0.027450142428278923, 0...",0.576276
6,rabbit,"[0.006220409180969, -0.015751302242279053, 0.0...",0.522653
33,turtle,"[0.028160911053419113, -0.016313010826706886, ...",0.513071
11,deer,"[0.060825735330581665, -0.03296774625778198, 0...",0.485120
12,bird,"[0.05648331344127655, -0.0011298867175355554, ...",0.480075
16,ferret,"[0.006305847316980362, -0.041793812066316605, ...",0.477434
17,wolf,"[-0.002968874294310808, -0.026671549305319786,...",0.469674
25,coyote,"[0.04016764461994171, -0.031213432550430298, -...",0.464975
31,snake,"[0.051066912710666656, -0.020128140226006508, ...",0.454003
28,bear,"[0.04613043740391731, -0.01706441305577755, -0...",0.445189
26,fish,"[-0.002734047593548894, -0.021766602993011475,...",0.426076
13,raccoon,"[0.05898168683052063, -0.0009809075854718685, ...",0.389935
18,squirrel,"[0.03322089836001396, -0.04075725004076958, -0...",0.386824
19,lizard,"[0.012100729160010815, -0.012437433004379272, ...",0.386061
5,coffee,"[-0.010105200111865997, 0.0037400261498987675,...",0.384615
37,guinea pig,"[0.007524285465478897, -0.026610590517520905, ...",0.377920
0,fox,"[-0.03348962217569351, 0.0015702263917773962, ...",0.375534
41,orange,"[-0.025900742039084435, -0.005591441877186298,...",0.372032
22,tea,"[-0.016347501426935196, -0.030902830883860588,...",0.357917
15,burger,"[-0.03550729528069496, -0.01598917506635189, 0...",0.351117
30,pizza,"[-0.01020066812634468, -0.028279945254325867, ...",0.346794
4,badger,"[0.021644549444317818, -0.022302215918898582, ...",0.346123
3,purple,"[0.024738309904932976, -0.0347030945122242, -0...",0.340107
7,hare,"[0.01832250878214836, -0.0220760777592659, 0.0...",0.332887
2,black,"[0.011166427284479141, -0.012104066088795662, ...",0.311584
24,sandwich,"[-0.005682190880179405, -0.04893353208899498, ...",0.308293
40,water,"[0.0030196786392480135, 0.017477955669164658, ...",0.302192
39,gray,"[0.004804749041795731, -0.020221514627337456, ...",0.298841
34,brown,"[-0.030725959688425064, -0.007178420200943947,...",0.283304
1,opossum,"[0.03196421265602112, 0.03251579403877258, -0....",0.282960
20,red,"[-0.022114494815468788, -0.010901302099227905,...",0.279004
23,blue,"[-0.0011808431008830667, -0.016510002315044403...",0.276009
32,pasta,"[-0.05013786256313324, -0.04082654416561127, 0...",0.262570
10,cappuccino,"[-0.024895260110497475, -0.030884910374879837,...",0.260695
35,white,"[0.0032686665654182434, -0.028257660567760468,...",0.250045
29,salad,"[-0.0006578968022949994, -0.03706714138388634,...",0.246045
8,soda,"[0.018451469019055367, -0.025056716054677963, ...",0.243610
38,green,"[0.006235065869987011, -0.0011298545869067311,...",0.234301
9,yellow,"[-0.014238273724913597, -0.018038872629404068,...",0.231397
21,milk,"[0.03963107243180275, -0.00417668791487813, -0...",0.216024

In [41]:
search_term = 'water'
search_term_vec = get_embedding(search_term,engine='text-embedding-3-small')
print(len(search_term_vec))

1536

In [42]:
from openai.embeddings_utils import cosine_similarity

df['simalarities'] = df['embedding'].apply(lambda x : cosine_similarity(x, search_term_vec))
df.head()

      text                                          embedding  simalarities
0      fox  [-0.03348962217569351, 0.0015702263917773962, ...      0.330363
1  opossum  [0.03196421265602112, 0.03251579403877258, -0....      0.228809
2    black  [0.011166427284479141, -0.012104066088795662, ...      0.311179
3   purple  [0.024738309904932976, -0.0347030945122242, -0...      0.375640
4   badger  [0.021644549444317818, -0.022302215918898582, ...      0.273479

In [43]:
df.sort_values("simalarities",ascending=False)

,text,embedding,simalarities
40,water,"[0.0030196786392480135, 0.017477955669164658, ...",1.000000
35,white,"[0.0032686665654182434, -0.028257660567760468,...",0.467197
17,wolf,"[-0.002968874294310808, -0.026671549305319786,...",0.425307
5,coffee,"[-0.010105200111865997, 0.0037400261498987675,...",0.416340
9,yellow,"[-0.014238273724913597, -0.018038872629404068,...",0.414380
23,blue,"[-0.0011808431008830667, -0.016510002315044403...",0.405764
26,fish,"[-0.002734047593548894, -0.021766602993011475,...",0.387260
22,tea,"[-0.016347501426935196, -0.030902830883860588,...",0.385606
3,purple,"[0.024738309904932976, -0.0347030945122242, -0...",0.375640
6,rabbit,"[0.006220409180969, -0.015751302242279053, 0.0...",0.363912
38,green,"[0.006235065869987011, -0.0011298545869067311,...",0.362400
8,soda,"[0.018451469019055367, -0.025056716054677963, ...",0.353577
41,orange,"[-0.025900742039084435, -0.005591441877186298,...",0.344731
33,turtle,"[0.028160911053419113, -0.016313010826706886, ...",0.340644
27,dog,"[0.05113774910569191, -0.01870863139629364, -0...",0.334011
21,milk,"[0.03963107243180275, -0.00417668791487813, -0...",0.333474
0,fox,"[-0.03348962217569351, 0.0015702263917773962, ...",0.330363
11,deer,"[0.060825735330581665, -0.03296774625778198, 0...",0.326322
34,brown,"[-0.030725959688425064, -0.007178420200943947,...",0.323841
14,hamster,"[0.03871235251426697, -0.027450142428278923, 0...",0.314161
7,hare,"[0.01832250878214836, -0.0220760777592659, 0.0...",0.312951
12,bird,"[0.05648331344127655, -0.0011298867175355554, ...",0.312459
2,black,"[0.011166427284479141, -0.012104066088795662, ...",0.311179
15,burger,"[-0.03550729528069496, -0.01598917506635189, 0...",0.306633
36,cat,"[0.025529420003294945, -0.023411665111780167, ...",0.302192
28,bear,"[0.04613043740391731, -0.01706441305577755, -0...",0.301315
32,pasta,"[-0.05013786256313324, -0.04082654416561127, 0...",0.296182
20,red,"[-0.022114494815468788, -0.010901302099227905,...",0.293511
29,salad,"[-0.0006578968022949994, -0.03706714138388634,...",0.286103
39,gray,"[0.004804749041795731, -0.020221514627337456, ...",0.281464
4,badger,"[0.021644549444317818, -0.022302215918898582, ...",0.273479
24,sandwich,"[-0.005682190880179405, -0.04893353208899498, ...",0.242592
31,snake,"[0.051066912710666656, -0.020128140226006508, ...",0.240804
30,pizza,"[-0.01020066812634468, -0.028279945254325867, ...",0.236019
1,opossum,"[0.03196421265602112, 0.03251579403877258, -0....",0.228809
10,cappuccino,"[-0.024895260110497475, -0.030884910374879837,...",0.223091
19,lizard,"[0.012100729160010815, -0.012437433004379272, ...",0.222983
25,coyote,"[0.04016764461994171, -0.031213432550430298, -...",0.218078
18,squirrel,"[0.03322089836001396, -0.04075725004076958, -0...",0.216799
13,raccoon,"[0.05898168683052063, -0.0009809075854718685, ...",0.200637
16,ferret,"[0.006305847316980362, -0.041793812066316605, ...",0.189345
37,guinea pig,"[0.007524285465478897, -0.026610590517520905, ...",0.177186